[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
streamlit = "*"
matplotlib = "*"
pandas = "*"
pipreqs = "*"
requests-oauthlib = "*"
httpx-oauth = "*"
shelve = "*"
polyline = "*"
plotly = "*"
haversine = "*"
scipy = "*"

[requires]
python_version = "3.8"
